extends particles/_base
block title
  | Index Page
block style
  link(rel='stylesheet', href='./static/style/index.css?v=#{timestamp}')

block content

block script
  script(src="./static/js/index.js")
